nodered-flow.json
[
    {
        "id": "6808ce1b9b2da766",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d884b5c1b74ea3a",
        "type": "mqtt out",
        "z": "6808ce1b9b2da766",
        "name": "",
        "topic": "rgb",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d9a32b7b2aed72dc",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "dcb696469d72b3f9",
        "type": "ui_colour_picker",
        "z": "6808ce1b9b2da766",
        "name": "",
        "label": "",
        "group": "b03bb86e.990f38",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "str",
        "className": "",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "5d884b5c1b74ea3a",
                "02d405fbd91af226"
            ]
        ]
    },
    {
        "id": "02d405fbd91af226",
        "type": "debug",
        "z": "6808ce1b9b2da766",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "d9a32b7b2aed72dc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b03bb86e.990f38",
        "type": "ui_group",
        "name": "Default",
        "tab": "bc78a8d.fba5b58",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc78a8d.fba5b58",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 2
    }
]